<a href="https://colab.research.google.com/github/19K41A0518/NNDL/blob/main/NNDL_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment-**1**

Estimate the weight of liquid nitrogen based on its pressure using simple regression model. Consider BGD optimizer.
 Dataset: Pressure and Weight in Cryogenic Flow Meters

• Write the python code to build simple linear regression model using BGD optimizer
• Do the data normalization • Split the data for train and test (90:10) 
• Train the simple linear regression model with training data 
• Compute MSE, RMSE and MAE with training data
• Compute MSE, RMSE and MAE with testing data

**Mount Google Drive**

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Import libraries**

In [23]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler
import math

**Read the dataset**

In [24]:
data=pd.read_excel('/content/drive/MyDrive/Assignment1.xlsx')
data.head()

       X      Y
0   75.1  577.8
1   74.3  577.0
2   88.7  570.9
3  114.6  578.6
4   98.5  572.4

**Data Normalisation**

In [25]:
maxX = np.max(data['X'])
minX = np.min(data['X'])
maxY = np.max(data['Y'])
minY = np.min(data['Y'])
data['X'] = (data['X'] - minX) / (maxX - minX)
data['Y'] = (data['Y'] - minY) / (maxY - minY)

**Split the Data**

In [26]:
x = data['X']
y = data['Y']
trainX, testX, trainY, testY = train_test_split(x, y, test_size=0.1, random_state=10)

**BGD optimisation Algorithm**

In [28]:
m = np.random.uniform(-50, 50)
c = np.random.uniform(-50, 50)
eta = 0.5
epochs = 500

for _ in range(epochs):
    
    gradM = -sum([(trainY.iloc[i] - m * trainX.iloc[i] - c) * trainX.iloc[i] for i in range(trainX.shape[0])])
    gradM /= trainX.shape[0]
    
    gradC = -sum([(trainY.iloc[i] - m * trainX.iloc[i] - c) for i in range(trainX.shape[0])])
    gradC /= trainX.shape[0]
    
    c += - eta * gradC
    m += - eta * gradM

print(f'm = {m}\nc = {c}')

m = -0.04454381988330393
c = 0.665541214563791

**Model prediction and error metrics calculation**

In [29]:
train_pred = [m * trainX.iloc[i] + c for i in range(trainX.shape[0])]
test_pred = [m * testX.iloc[i] + c for i in range(testX.shape[0])]

train_pred = [i * (maxY - minY) + minY for i in train_pred]
test_pred = [i * (maxY - minY) + minY for i in test_pred]
trainY = [i * (maxY - minY) + minY for i in trainY]
testY = [i * (maxY - minY) + minY for i in testY]

training_MAE = sum([abs(train_pred[i] - trainY[i]) for i in range(len(trainY))]) / len(trainY)
training_MSE = sum([(train_pred[i] - trainY[i]) ** 2 for i in range(len(trainY))]) / len(trainY)
training_RMSE = training_MSE ** 0.5
print('Training Error :')
print(f'MAE : {training_MAE}')
print(f'MSE : {training_MSE}')
print(f'RMSE : {training_RMSE}')

testing_MAE = sum([abs(test_pred[i] - testY[i]) for i in range(len(testY))]) / len(testY)
testing_MSE = sum([(test_pred[i] - testY[i]) ** 2 for i in range(len(testY))]) / len(testY)
testing_RMSE = testing_MSE ** 0.5
print('Testing Error :')
print(f'MAE : {testing_MAE}')
print(f'MSE : {testing_MSE}')
print(f'RMSE : {testing_RMSE}')

Training Error :
MAE : 23.18061201956802
MSE : 1177.645125115974
RMSE : 34.31683442737651
Testing Error :
MAE : 52.77063444911291
MSE : 4217.715721169876
RMSE : 64.94394291363804

In [30]:
pd.DataFrame({'Actual' : trainY, 'Predicted':train_pred})

    Actual   Predicted
0    570.9  517.595935
1    578.6  514.164820
2    512.8  517.476707
3    510.2  517.026290
4    510.0  518.496768
5    506.4  516.178447
6    577.0  519.503581
7    510.9  515.383594
8    503.9  519.556572
9    508.6  514.800702
10   531.7  514.138325
11   505.2  514.005849
12   493.0  515.926744
13   510.8  513.449452
14   504.3  518.178827
15   502.8  519.569819
16   496.4  519.569819
17   513.4  519.251878
18   522.0  516.363913
19   406.7  515.171633
20   512.8  519.291621
21   506.3  520.576633
22   510.2  519.026670
23   577.8  519.397601
24   506.2  520.642871
25   572.4  516.297675
26   507.1  517.357479

**Model Deployment**

In [32]:
x = float(input('Enter the pressure of liquid nitrogen : '))
x = (x - minX) / (maxX - minX)
prediction = m * x + c
prediction = (prediction * (maxY - minY)) + minY
print('Predicted Weight :', prediction)

Enter the pressure of liquid nitrogen : 236
Predicted Weight : 498.0822966784298